body {
  background-color: antiquewhite;
}

.body {
  text-align: center;
  border: 3px solid;
  height: 300px;
  width: 1010px;
  background-color: brown;
  border-color: black;
}

.nome {
  border: 2px solid;
  border-color: white;
  margin: 5px;
  width: 180px;
  height: 90px;
  margin: 20px;
  background-color: black;
}

.senha {
  border: 1px solid;
  border-color: white;
  margin: 5px;
  width: 180px;
  height: 90px;
  position: fixed;
  left: 200px;
  top: 33%;
  margin: 20px;
  background-color: black;
}

.site {
  border: 1px solid;
  border-color: white;
  margin: 5px;
  width: 180px;
  height: 90px;
  position: fixed;
  left: 400px;
  margin: 20px;
  background-color: black;
}

.email {
  border: 1px solid;
  border-color: white;
  margin: 5px;
  width: 180px;
  height: 90px;
  position: fixed;
  left: 600px;
  top: 33%;
  margin: 20px;
  background-color: black;
}

.telefone {
  border: 1px solid;
  border-color: white;
  margin: 5px;
  width: 180px;
  height: 90px;
  position: fixed;
  left: 800px;
  margin: 20px;
  background-color: black;
}
